.xans-board-search { padding:20px 0px 20px 10px; color:#2e2e2e; font-size:12px; margin-top:25px;}
.xans-board-search .boardSearch { display:block; }
.xans-board-search p { margin:0 0 10px; padding:0 0 0 7px; text-align:left; }
.xans-board-search p.category:before { content:"상품분류"; }
.xans-board-search p:before {  }
.xans-board-search .category select { margin:0 4px 0 0; width:150px; }
.xans-board-search .category select#product_category_depth1 { margin:0 5px 0 0px; }
.xans-board-search select { margin:0 2px 0 0px; width:72px;border-left:1px solid #fff;border-top:1px solid #fff;border-right:1px solid #fff;border-bottom:1px solid #cbcbcb; font-size:11px; }
.xans-board-search select#search_date { margin:0 2px 0 10px; }
.xans-board-search input { width:162px; }
.xans-board-search .boardSearch img { vertical-align:middle; }

.xans-board-search input[type=text], input[type=password]{border-left:1px solid #fff;border-top:1px solid #fff;border-right:1px solid #fff;border-bottom:1px solid #000;}