@charset "utf-8";

@font-face {
font-family:arial;
src: url(/SkinImg/font/Arial-BoldMT.eot);
src: local("Arial-BoldMT"), url(/SkinImg/font/Arial-BoldMT.woff) format("woff");
}

@font-face {
font-family:arial_b;
src: url(/SkinImg/font/Arial-BoldMT.eot);
src: local("Arial-BoldMT"), url(/SkinImg/font/Arial-BoldMT.woff) format("woff");
}

@font-face {
font-family:noto;
src: url(/SkinImg/font/NotoSansCJKkr-Medium-Alphabetic.eot);
src: local("NotoSansCJKkr-Medium-Alphabetic"), url(/SkinImg/font/NotoSansCJKkr-Medium-Alphabetic.woff) format("woff");
}

@font-face {
font-family:Calibri;
src: url(/SkinImg/font/calibri.eot);
src: local("Calibri"), url(/SkinImg/font/calibri.woff) format("woff");
}

@font-face {
font-family:Calibrib;
src: url(/SkinImg/font/calibrib.eot);
src: local("Calibrib"), url(/SkinImg/font/calibrib.woff) format("woff");
}

@font-face {
font-family:adlinnaka;
src: url(/SkinImg/font/Adlinnaka-BoldDemo.eot);
src: local("Adlinnaka-BoldDemo"), url(/SkinImg/font/Adlinnaka-BoldDemo.woff) format("woff");
}

@font-face {
font-family:bebas;
src: url(/SkinImg/font/BEBAS.eot);
src: local("BEBAS"), url(/SkinImg/font/BEBAS.woff) format("woff");
}

@font-face {
font-family:'Futura Std Medium';
font-style: normal;
font-weight: normal;
src: local('Futura Std Medium'), url('/SkinImg/font/FuturaStd-Medium.woff') format('woff');
}

@font-face {
font-family:helvetica;
src: url(/SkinImg/font/HelveticaNeue-Bold.eot);
src: local("HelveticaNeue-Bold"), url(/SkinImg/font/HelveticaNeue-Bold.woff) format("woff");
}

@font-face {
font-family:louis;
src: url(/SkinImg/font/LouisGeorgeCafeLight.eot);
src: local("LouisGeorgeCafeLight"), url(/SkinImg/font/LouisGeorgeCafeLight.woff) format("woff");
}


@font-face {
font-family:amiko_b;
src: url(/SkinImg/font/Amiko-Bold.eot);
src: local("Amiko-Bold"), url(/SkinImg/font/Amiko-Bold.woff) format("woff");
}

@font-face {
font-family:Roboto_r;
src: url(/SkinImg/font/Roboto-Regular.eot);
src: local("Roboto-Regular"), url(/SkinImg/font/Roboto-Regular.woff) format("woff");
}



@font-face {
font-family:Roboto_b;
src: url(/SkinImg/font/Roboto-Black.eot);
src: local("Roboto-Black"), url(/SkinImg/font/Roboto-Black.woff) format("woff");
}

@font-face {
font-family:Noto Sans KR;
font-weight: 300;
src: local("NotoSansKR-Light"), url(/SkinImg/font/NotoSansCJKkr-Light.woff) format("woff");
}
@font-face {
font-family:Noto Sans KR;
font-weight: 500;
src: local("NotoSansKR-Medium"), url(/SkinImg/font/NotoSansCJKkr-Medium.woff) format("woff");
}
@font-face {
font-family:Noto Sans KR;
font-weight: 400;
src: local("NotoSansKR-Regular"), url(/SkinImg/font/NotoSansCJKkr-Regular.woff) format("woff");
}
@font-face {
font-family:Noto Sans KR;
font-weight: 100;
src: local("NotoSansKR-Thin"), url(/SkinImg/font/NotoSansCJKkr-Thin.woff) format("woff");
}
@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 400;
  src: url(/SkinImg/font/PlayfairDisplay-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 600;
  src: url(/SkinImg/font/PlayfairDisplay-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  src: url('/SkinImg/font/Roboto-Regular.ttf') format('truetype');
  /*font-weight: 400;*/
}
/*
@font-face {
  font-family: 'Roboto';
  src: url('/SkinImg/font/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
}*/
/* reset */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, button, p, blockquote, th, td { margin:0; padding:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html { width:100%; height:100%; }
body, code { min-width:320px; font-size:13px; font-family:'Noto Sans KR', sans-serif; line-height:1.2em; color:#1b1b1b; background:#fff; -webkit-text-size-adjust:none; }
code { background:none; display:block; }
ul li { list-style:none; }
ol { list-style-position:inside; }
img, fieldset{ border:none; }
img { vertical-align:middle; }
hr.layout { display:none; }
em, address { font-style:normal; }
ins { text-decoration:none; }
a { text-decoration:none; color:#000; }
a:active { text-decoration:none; }
table { width:100%; table-layout:fixed; border:0 none; border-spacing:0; border-collapse:collapse; }
table caption { display:none; }
th, td { border:0; line-height:18px; }
legend { height:0; width:0; display:block; text-indent:-9999em; }
label { cursor:pointer; }

/* html5 */
object, del, sub, var { margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* form */
input[type=text], input[type=password], input[type=number], input[type=tel], textarea {
    padding:7px; font-weight:inherit; border:1px solid #cccccc; border-radius:2px; outline-style:none; line-height:13px; color:#353535;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
input[type="file"] { overflow:hidden; max-width:100%; }
input[type=text], input[type=password], input[type=number], input[type=tel] { height:29px; }
textarea, input, select { vertical-align:middle; }
textarea { resize:none; line-height:1.2em; }
select { max-width:100%; height:29px; margin:0; padding:0 35px 0 3px; color:#353535; word-break:break-all; font-weight:inherit; border:1px solid #ccc; background:#fff url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_selectbox.gif") no-repeat right center; background-size:32px 27px; -webkit-border-radius:3px; -webkit-appearance:none; }
select.disabled { color:#bfbfbf; background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_selectbox_disabled.gif");}
input[type="button"], input[type="text"], input[type="password"], input[type="tel"], input[type="image"], textarea { -webkit-appearance:none; }
input:checked[type="checkbox"] { background-color:#fff; -webkit-appearance:checkbox; }
button::-moz-focus-inner { padding:0; border:0; }
label { margin:0; display:inline-block; min-height:29px; line-height:29px; vertical-align:middle; }
input[type="radio"],
input[type="checkbox"] { margin:0 7px 0 0; }
textarea.disabled { background-color:#ffffff; color:#bfbfbf; }
