.xans-order-basketguide { font-size:.9em; color:#8B8B8C; }
.xans-order-basketguide h3 { padding:0 0 18px 0; margin:0; }
.xans-order-basketguide li { padding:0 0 0 10px; line-height:18px; background:url(http://img.echosting.cafe24.com/design/skin/mono/ico_info.gif) 0 2px no-repeat; }
.xans-order-basketguide li > strong { display:block; padding:0 0 5px; }
.xans-order-basketguide li ul { padding:0 0 20px; }
.xans-order-basketguide li li { padding:0; background:none;}
.xans-order-basketguide p.info { padding:0 0 15px 10px; line-height:18px; background:url(http://img.echosting.cafe24.com/design/skin/mono/ico_info.gif) 0 2px no-repeat; color:#34a7b3; }
.xans-order-basketguide a,
.xans-order-basketguide a:hover {color:#8B8B8C; }
