.xans-order-dcinfo { overflow:hidden; zoom:1; margin:30px 0; padding:20px; color:#8b8b8c; background:#f6f7f9; border-top:3px solid #333; border-bottom:3px solid #333; }

.xans-order-dcinfo p { float:left; padding:0 20px 0 0; }
.xans-order-dcinfo p.myInfo { width:550px; line-height:20px; }
.xans-order-dcinfo p span.typeBlock { display:block; }
.xans-order-dcinfo p strong { color:#8c91a2; }
