.xans-gift-list { margin:0 0 30px; }
.xans-gift-list h3 { margin:30px 0; }
.xans-gift-list ul { overflow:hidden; zoom:1; margin:0 0 30px -12px; }
.xans-gift-list ul li { float:left; width:180px; padding:0 0 0 12px; line-height:1.6em; }
.xans-gift-list ul .prdImg { display:block; }
.xans-gift-list ul .prdImg img { display:block; width:180px; }

.xans-gift-list .xans-gift-third span { display:block; padding:3px 0; }
.xans-gift-list .xans-gift-third span em { visibility:hidden; position:absolute; left:-1000px; top:-1000px; height:0; width:0; font-style:normal; }
.xans-gift-list .xans-gift-third .point { padding:0 0 0 40px; background:url(http://img.echosting.cafe24.com/design/skin/mono/order/ico_point.gif) 0 0 no-repeat; font-weight:bold; }
