.xans-board-listpackage-1 { margin:25px 0; }
.xans-board-listpackage-1 h2 { margin:0 0 17px; }
.xans-board-listpackage-1 p { margin:10px 0 0;}
.xans-board-listpackage-1 thead {visibility:hidden; position:absolute; left:-1000px; top:-1000px; height:0; width:0; }
.xans-board-listpackage-1 td { display:none; line-height:1.8em;  }
.xans-board-listpackage-1 td.title { display:block; width:auto; text-align:left; background:url(http://img.echosting.cafe24.com/design/skin/mono/ico_board_title.gif) 0 50% no-repeat; }
.xans-board-listpackage-1 td.title a,
.xans-board-listpackage-1 td.title a:hover { padding:0 0 0 7px; color:#8f8f91;}
