.xans-layout-category { margin:0 0 25px; }
.xans-layout-category h2 { padding:3px 0 10px; border-bottom:1px dotted #7cc2d9;  }
.xans-layout-category .postion { z-index:1; }
.xans-layout-category ul { }
.xans-layout-category li { position:relative; border-bottom:1px dotted #7cc2d9; }
.xans-layout-category li a { display:block; padding:5px 0 5px 20px; line-height:18px; color:#7cc2d9; font-weight:bold; }
.xans-layout-category li a:hover { color:#0072bc; }
.xans-layout-category li.on > a { background:#e5f3f7; color:#0072bc; }
.xans-layout-category li img { display:block; margin:-5px 0 0 -20px; }

.xans-layout-category .sub-category { position:absolute; left:170px; top:10px; z-index:90; background:#fff; }
.xans-layout-category .sub-category ul { padding:10px 0; border:1px solid #9cc3d0; }
.xans-layout-category .sub-category a { display:block; width:150px; padding:3px 10px; font-weight:bold; font-style:normal; }
.xans-layout-category .sub-category a:hover { text-decoration:underline; background:#e5f3f7; }
.xans-layout-category .sub-category li { position:static; border:0; }