.xans-layout-login { margin:25px 0; }
.xans-layout-login h2 { padding:0 0 12px; }
.xans-layout-login h2 img { display:block; }

.xans-layout-login .check span { display:block; padding:1px 0; overflow:hidden; zoom:1; }
.xans-layout-login .check img { float:left; }
.xans-layout-login .check input { float:left; width:150px; padding:3px 5px; height:18px;  background:#eeeded; border:0; }

.xans-layout-login .security { padding:3px 0 20px; color:#8f8f91; }
.xans-layout-login .security label { padding:0 10px 0 0;}

.xans-layout-login .btn { overflow:hidden; }
.xans-layout-login .btn input,
.xans-layout-login .btn a { float:left; padding:0 3px 0 0;}

.xans-layout-login ul { overflow:hidden; padding:10px 0 25px; }
.xans-layout-login li { float:left; padding:0 10px 0 7px; background:url(http://img.echosting.cafe24.com/design/skin/mono/ico_login.gif) 0 50% no-repeat; font-size:.9em; }
.xans-layout-login li a,
.xans-layout-login li a:hover {color:#8f8f91; }
