.notFound { padding:120px 14px 45px; text-align:center; background:url("http://img.echosting.cafe24.com/skin/mobile/layout/bg_notFound.png") no-repeat center 30px; background-size:129px 64px; }
.notFound h2 { color:#508bed; font-size:17px; line-height:19px; }
.notFound .desc { margin:14px 0 38px; color:#353535; font-size:13px; line-height:18px; }