.xans-layout-orderbasketcount { overflow:hidden; zoom:1; font-size:11px; border-bottom:1px dotted #aaa; margin:0 0 12px; padding:0 0 7px; }
.xans-layout-orderbasketcount strong { float:left; padding:0 0 0 7px; color:#8f8f91; font-weight:normal; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_basketCount.gif) 0 0 no-repeat; }
.xans-layout-orderbasketcount span { float:right; padding:0 5px 0 0; color:#7cc2d9;  }
.xans-layout-orderbasketcount span a,
.xans-layout-orderbasketcount span a:hover { color:#7cc2d9; font-weight:bold; text-decoration:underline; padding:0 2px 0 0; }