.xans-layout-poll { margin:25px 0; color:#8f8f91; }
.xans-layout-poll h2 { font-size:16px; color:#fff799; }
.xans-layout-poll h2 img { display:block; }
.xans-layout-poll h3 { padding:8px 0 14px; font-size:11px; line-height:1.3em; color:#4b97b4; font-weight:normal; }
.xans-layout-poll h3 em { display:block; text-indent:-1000em; height:1px; }
.xans-layout-poll li {font-size:11px; line-height:1.8em;}
.xans-layout-poll li input { margin-right:4px; }
.xans-layout-poll .btnArea { padding:20px 0; margin:0; }