.xans-layout-productbest { margin:25px 0; }
.xans-layout-productbest h2 { padding:0 0 17px; }
.xans-layout-productbest h2 img { display:block; }

.xans-layout-productbest li { height:288px; text-align:center; }
.xans-layout-productbest li img,
.xans-layout-productbest li a { display:block; max-width:180px; }
.xans-layout-productbest li span { display:block; text-align:center; line-height:1.4em; }
.xans-layout-productbest li span.prdCustom {text-decoration:line-through; }
.xans-layout-productbest .player { overflow:hidden; text-align:center; }
.xans-layout-productbest .player img { cursor:pointer; }
.xans-layout-productbest .player .prevButton { float:left; }
.xans-layout-productbest .player .nextButton { float:right; }