.xans-layout-project { margin:25px 0; }
.xans-layout-project h2 { padding:0 0 17px; }
.xans-layout-project h2 img { display:block; }
.xans-layout-project ul { width:180px; }
.xans-layout-project li { height:180px; text-align:center; }
.xans-layout-project li img { max-width:180px; }

.xans-layout-project .player { overflow:hidden; text-align:center; }
.xans-layout-project .player img { cursor:pointer; }
.xans-layout-project .player .prevButton { float:left; }
.xans-layout-project .player .nextButton { float:right; }