.xans-layout-searchside { }
.xans-layout-searchside h2 { padding:0 0 15px; }
.xans-layout-searchside h2 img { display:block; }
.xans-layout-searchside fieldset input { height:16px; width:142px; padding:3px 2px; border:0 none; }
.xans-layout-searchside fieldset img { cursor:pointer; }
.xans-layout-searchside p.searchBox { border:1px solid #8f8f91; }
.xans-layout-searchside p.link { padding:10px 0; }
.xans-layout-searchside p.link img { padding:0 3px 0 0; }
