.xans-layout-statelogoff { overflow:hidden; zoom:1; }
.xans-layout-statelogoff .member { float:right; padding:0 4px 0 0;}
.xans-layout-statelogoff .member .myinfo { }
.xans-layout-statelogoff .member strong { font-weight:normal; color:#202020; }
.xans-layout-statelogoff .member a,
.xans-layout-statelogoff .member a:hover { color:#525259; }
.xans-layout-statelogoff .util { float:right; padding:0 4px 0 0; }
.xans-layout-statelogoff .util img { margin:0 0 0 4px; }
