<div class="info">
        <ul>
            <li>
                <a href="/page/about.html">ABOUT US</a>
            </li>
            <li>
                <a href="/page/channel.html">SOCIAL</a>
            </li>
            <li>
                <a href="/page/store.html">STORE</a>
            </li>
            <li>
                <a href="/board/free/list.html?board_no=1">NOTICE</a>
            </li>
            <li style="margin-right:0;">
                <a href="/page/faq.html">CUSTOMER CARE</a>
            </li>
            <li>
                <a href="http://en.layerstore.kr/">INTERNATIONAL</a>
            </li>
        </ul>
    </div>
    <div class="sns">
        <a href="http://layershop.kr/m/app.html" target="_blank"><img src="/SkinImg/new/sns1.jpg"></a>
        <a href="https://www.instagram.com/layerstore.kr/" target="_blank"><img src="/SkinImg/new/sns2.jpg"></a>
        <a href="https://www.facebook.com/LAYERSHOP" target="_blank"><img src="/SkinImg/new/sns3.jpg"></a>
        <a href="https://pf.kakao.com/_ixjawj" target="_blank"><img src="/SkinImg/new/sns4.jpg" style="height:14px;"></a>
        <a href="https://blog.naver.com/layer_korea" target="_blank"><img src="/SkinImg/new/sns5.jpg" style="height:13px;"></a>

   	</div>
    <div class="info2">
        <div class="title">
            LAYER. CO., LTD.
        </div>
        <div class="content">
            <div>
                <a href="/member/mall_agreement.html" style="font-family:Roboto_r; font-size:10px; letter-spacing:1px;">Terms and Conditions</a>&nbsp;&nbsp; I&nbsp;&nbsp;   
            	<a href="/member/privacy.html" style="font-family:Roboto_r; font-size:10px; letter-spacing:1px;">Privacy Policy</a>
            </div>
           	<div style="margin-top:5px;font-family:Roboto_r; font-size:9px; line-height:14px; letter-spacing:1px;">
                LAYER HQ, 26 APGUJUNG_RO 42GIL,GANGNAM_GU,SEOUL,KOREA<br>
                A/S : cs@layercoltd.com   I    02-511-7288 <br>
                BUSINESS REGISTATION : 261-81-01530<br>
                MAIL-ORDER SALES LICENSE : 2013-SEOULGANGNAM-02629<br>
                DIRECTOR : CHANHO SHIN   I   WEB MASTER : SUNGJIN LEE
            </div>
        </div>
    </div>