<div class="top_cate">
    <!--@css(/css/module/layout/top_cate.css)-->
    <ul>
        <li><a href="/page/about.html">mahrcato</a></li>
        <li><a href="/page/collection.html">collection</a></li>
        <li><a href="/board/gallery/list.html?board_no=8">my muse</a></li>
    </ul>
    <ul>
        <li><a href="/product/list_thumb.html?cate_no=24">shop</a></li>
        <li><a href="/board/gallery2/list.html?board_no=12">press</a></li>
        <li><a href="/board/free/list.html?board_no=1">community</a></li>
    </ul>
</div>