<div class="top_cate" style="border-bottom:1px solid #ccc;">
    <!--@css(/css/module/layout/top_cate.css)-->
    <ul>
        <li><a href="/page/about.html"><img src="/SkinImg/new/menu01.png"></a></li>
        <li><a href="/page/collection.html"><img src="/SkinImg/new/menu02.png"></a></li>
        <li><a href="/board/gallery/list.html?board_no=8"><img src="/SkinImg/new/menu03.png" style="margin-top:4px;"></a></li>
    </ul>
    <ul>
        <li><a href="/product/list_thumb.html?cate_no=24"><img src="/SkinImg/new/menu04.png"></a></li>
        <li><a href="/board/gallery2/list.html?board_no=12"><img src="/SkinImg/new/menu05.png" style="margin-top:4px;"></a></li>
        <li><a href="/board/free/list.html?board_no=1"><img src="/SkinImg/new/menu06.png"></a></li>
    </ul>
</div>