.xans-product-listcompare .dataArea { overflow:auto; }
.xans-product-listcompare table { border-bottom:3px solid #333; }
.xans-product-listcompare th { width:100px; padding:6px; font-size:11px; font-weight:normal; color:#838382; text-align:left; border-bottom:1px dotted #bec0cc; white-space:nowrap; }
.xans-product-listcompare td { padding:6px; font-size:11px; border-bottom:1px dotted #bec0cc; color:#333; }

.xans-product-productimagetiny img { width:100px; }
.xans-product-productimagetiny th,
.xans-product-productimagetiny td { padding:20px 0; text-align:center; border-top:3px solid #333; }

.xans-product-listcompare .first th,
.xans-product-listcompare .first td { border-top:1px solid #333; padding-top:20px; }

.xans-product-quantity input,
.xans-product-compareaddoption input { padding:2px; border:1px solid #bec0cc; display:block; }
.xans-product-compareoption select { display:block; }

.xans-product-listcompare .btnArea { text-align:right; overflow:hidden; margin:10px 0 20px; }
.xans-product-listcompare .btnArea img { float:left; padding:0 1px 0 0; cursor:pointer; }
.xans-product-listcompare .btnArea p.btnLeft { float:left; }
.xans-product-listcompare .btnArea p.btnRight { float:right; }
.xans-product-listcompare .btnArea p.btnRight img { padding:0 0 0 1px; }

.xans-product-listcompare em { font-style:normal; }