.xans-coupon-productdetail { clear:both; padding:50px 0 30px; overflow:hidden; }

.xans-coupon-productdetail .couponArea { clear:both; overflow:hidden; margin:30px 0 0 -12px;}
.xans-coupon-productdetail .couponArea .coupon { width:768px; margin: 0pt auto; }
.xans-coupon-productdetail .couponArea .coupon li { float:left; position:relative; min-height:200px; .height:210px; width:372px; margin:0 0 10px 12px; text-align:center; }
.xans-coupon-productdetail .couponArea .zone li { height:180px; }
.xans-coupon-productdetail .couponArea .coupon li div { height:144px; margin:0 0 10px; border:10px solid #bfbecc; background:url(http://img.echosting.cafe24.com/design/skin/mono/product/bg_coupon1.jpg) 50% 50% no-repeat; cursor:pointer; }
.xans-coupon-productdetail .couponArea .coupon .name { padding:10px 0; }
.xans-coupon-productdetail .couponArea .coupon .sale { font-size:40px; padding:15px 0; line-height:normal; letter-spacing:-1px; font-weight:bold; }
.xans-coupon-productdetail .couponArea .coupon .date { position:absolute; top:135px; left:0; width:100%; color:#fff; font-size:.9em; }
.xans-coupon-productdetail .couponArea .coupon .btn { width:100%; text-align:right;}
.xans-coupon-productdetail .couponArea .coupon .chkBtn {position:absolute; left:15px; top:15px; }

.xans-coupon-productdetail .coupon .imgCoupon {}
.xans-coupon-productdetail .coupon .imgCoupon .name { position:absolute; top:-5000px; }
.xans-coupon-productdetail .coupon .imgCoupon .sale { position:absolute; top:-5000px; }
.xans-coupon-productdetail .coupon .imgCoupon .date { position:absolute; top:-5000px;}

.xans-coupon-productdetail .titleArea { height:21px; margin:17px 0 30px; border-bottom:1px solid #dedcdc; zoom:1; position:relative; }
.xans-coupon-productdetail .titleArea:after {content:""; display:block; clear:both; }
.xans-coupon-productdetail .titleArea h3 { height:21px; padding:0 5px 0 0; color:#272823; font-size:16px; float:left; border-bottom:1px solid #272823; margin:0; }
.xans-coupon-productdetail .titleArea p.btn { position:absolute; right:0; top:-2px; padding:0; margin:0; }

#dCouponDetail {
	position: relative; background:#fff; overflow:hidden; width:372px; padding:10px; border:1px solid #7d7c8b;
	/* Opera */ box-shadow:5px 5px 5px #d3d3d3;
	/* Firefox */ -moz-box-shadow:5px 5px 5px #d3d3d3;
	/* Safiri, Chrome */ -webkit-box-shadow:5px 5px 5px #d3d3d3;
	/* IE */ filter:progid:DXImageTransform.Microsoft.Shadow(color=#d3d3d3,direction=135, strength=10);
}
#dCouponDetail h3 { float:left; padding:0 0 10px; color:#34a7b3; }
#dCouponDetail ul { clear:both; padding:10px; margin:10px 0; background:#f1f1f1;}
#dCouponDetail ul li { line-height:18px; font-size:11px; }
#dCouponDetail img { float:right; }
