.xans-jointbuy-package .titleArea { margin:17px 0 30px; }
.xans-jointbuy-package .titleArea h2 { margin:0 0 20px; color:#34a7b3; font-size:16px; }
.xans-jointbuy-package .titleArea h3 { margin:0 0 20px; font-size:14px; }

.xans-jointbuy-head { overflow:hidden; margin:3px 0 17px; }
.xans-jointbuy-head h3 { float:left; text-indent:-9999em; margin:0; }
.xans-jointbuy-head ul { float:right; }
.xans-jointbuy-head ol { float:right; }
.xans-jointbuy-head li { padding:0 0 0 22px; display:inline; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_path.gif) 0 50% no-repeat; }
.xans-jointbuy-head li.displaynone { display:none; }
.xans-jointbuy-head li.first { background:none; }

/* 공동구매 */
.xans-jointbuy-menu { overflow:hidden; padding:7px 0 0; font-size:11px; font-weight:normal; }
.xans-jointbuy-menu .jointInner { padding:3px 0; }
.xans-jointbuy-menu .date { font-size:11px; }
.xans-jointbuy-menu .category { color:#838382; }
.xans-jointbuy-menu .category a,
.xans-jointbuy-menu .category a:hover { background:url(http://img.echosting.cafe24.com/design/skin/mono/product/bg_joint.gif) 0 center no-repeat; padding:0 0 0 10px; color:#838382; }
.xans-jointbuy-menu .category a.first { background:none; padding-left:0; }

.xans-jointbuy-menu h3,
.xans-jointbuy-menu p { display:inline; padding:0 10px 0 0; font-size:11px; font-weight:normal; }
