.xans-jointbuy-list { margin:0 0 30px; }
.xans-jointbuy-list .titleArea { margin:30px 0; }
.xans-jointbuy-list ul { clear:both; zoom:1; margin:0 0 30px -12px; }
.xans-jointbuy-list ul:after {content:""; display:block; clear:both; }
.xans-jointbuy-list ul li { float:left; width:180px; height:380px; padding:0 0 0 12px; line-height:1.6em; color:#838382; }
.xans-jointbuy-list ul li a,
.xans-jointbuy-list ul li a:hover { color:#838382; }
.xans-jointbuy-list ul .prdImg { display:block; }
.xans-jointbuy-list ul .prdImg img { display:block; width:180px; }
.xans-jointbuy-list ul .zoom { float:right; padding:7px 0 0; cursor:pointer; }
.xans-jointbuy-list ul .name { float:left; width:160px; padding:4px 0; line-height:16px; }
.xans-jointbuy-list ul .icon { display:block; clear:both; }
.xans-jointbuy-list ul .price {  display:block; clear:both; }
.xans-jointbuy-list ul .mileage { display:block; clear:both; }
.xans-jointbuy-list ul .mileage img { vertical-align:middle; }
.xans-jointbuy-list ul .btns { overflow:hidden; zoom:1; }
.xans-jointbuy-list ul .btns img { cursor:pointer; margin:0 4px 0 0; }
.xans-jointbuy-list ul .btns .bag { float:left; padding:7px 10px 0 0; }
.xans-jointbuy-list ul .btns .option { float:left; padding:7px 0 0; }
.xans-jointbuy-list ul .custom {text-decoration:line-through; }
.xans-jointbuy-list ul .manu { display:block; }
.xans-jointbuy-list ul .btn { display:block; text-align:center; }

.xans-product-listnormal ul:after {content:""; display:block; clear:both; }
.xans-product-listnormal ul li { float:left; width:180px; padding:0 0 0 12px; line-height:1.6em; color:#838382; }
.xans-product-listnormal ul li.first { padding:0; }
.xans-product-listnormal ul li a,
.xans-product-listnormal ul li a:hover { color:#838382; font-style:italic; }

#toolTipStyle { display:none; width:120px; height:167px; padding:36px 20px 0 18px; z-index:95; background:url(http://img.echosting.cafe24.com/design/skin/mono/product/bg_prdBalloon.gif) 0 0 no-repeat; }

.xans-product-optionpreview .prdOption ul.xans-product-optionpreviewlist li { float:none; width:auto; height:auto; }