.xans-product-listmain { margin:30px 0;  }
.xans-product-listmain h2 { height:21px; margin:0 0 15px; border-bottom:1px solid #dedcdc; zoom:1;}
.xans-product-listmain h2 span { height:21px; padding:0 5px 0 0; color:#272823; font-size:16px; float:left; border-bottom:1px solid #272823; }

.xans-product-listmain ul { clear:both; zoom:1; margin:0 0 30px -12px; }
.xans-product-listmain ul:after {content:""; display:block; clear:both; }
.xans-product-listmain ul li { float:left; width:180px; padding:0 0 0 12px; line-height:1.6em; }

.xans-product-listmain ul .prdImg { display:block; }
.xans-product-listmain ul .prdImg img { display:block; }
.xans-product-listmain ul .zoom { float:right; padding:7px 0 0; cursor:pointer; }
.xans-product-listmain ul .name { float:left; width:160px; padding:4px 0; line-height:16px; }
.xans-product-listmain ul .icon { display:block; clear:both; }
.xans-product-listmain ul .price {  display:block; clear:both; }
.xans-product-listmain ul .mileage { display:block; clear:both; }
.xans-product-listmain ul .mileage img { vertical-align:middle; }
.xans-product-listmain ul .btns { overflow:hidden; zoom:1; }
.xans-product-listmain ul .btns img { cursor:pointer; margin:0 4px 0 0; }
.xans-product-listmain ul .btns .bag { float:left; padding:7px 10px 0 0; }
.xans-product-listmain ul .btns .option { float:left; padding:7px 0 0; }
.xans-product-listmain ul .custom {text-decoration:line-through; }
.xans-product-listmain ul .manu { display:block; }
.xans-product-listmain ul .btn { display:block; text-align:center; }

.xans-product-listmain .prdList ul.prdColor { margin:5px 0; }
.xans-product-listmain .prdList ul.prdColor li { width:8px; height:8px; padding:0; margin:0 2px 2px 0; border:1px solid #969696; }
.xans-product-listmain .prdList ul.prdColor li span { display:block; height:100%; }