.xans-product-2 { margin:30px 0;  }
#contents .xans-product-2 h2{ margin:0 0 17px; height:19px; border-bottom:1px solid #dedcdc; }
.xans-product-2 ul { clear:both; zoom:1; margin:0 0 30px -12px; }
.xans-product-2 ul:after {content:""; display:block; clear:both; }
.xans-product-2 ul li { float:left; width:180px; padding:0 0 0 12px; line-height:1.6em; }

.xans-product-2 ul .prdImg { display:block; }
.xans-product-2 ul .prdImg img { display:block; }
.xans-product-2 ul .zoom { float:right; padding:7px 0 0; cursor:pointer; }
.xans-product-2 ul .name { float:left; width:160px; padding:4px 0; line-height:16px; }
.xans-product-2 ul .icon { display:block; clear:both; }
.xans-product-2 ul .price {  display:block; clear:both; }
.xans-product-2 ul .mileage { display:block; clear:both; }
.xans-product-2 ul .mileage img { vertical-align:middle; }
.xans-product-2 ul .btns { overflow:hidden; zoom:1; }
.xans-product-2 ul .btns img { cursor:pointer; margin:0 4px 0 0; }
.xans-product-2 ul .btns .bag { float:left; padding:7px 10px 0 0; }
.xans-product-2 ul .btns .option { float:left; padding:7px 0 0; }
.xans-product-2 ul .custom {text-decoration:line-through; }
.xans-product-2 ul .manu { display:block; }
.xans-product-2 ul .btn { display:block; text-align:center; }

.xans-product-2 .prdList ul.prdColor { margin:5px 0; }
.xans-product-2 .prdList ul.prdColor li { width:8px; height:8px; padding:0; margin:0 2px 2px 0; border:1px solid #969696; }
.xans-product-2 .prdList ul.prdColor li span { display:block; height:100%; }