.layPop { background:#b4bdc5; display:inline-block; .display:inline; zoom:1; position:relative; }
.layPop .close { position:absolute; right:0; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { position:relative; padding:20px 25px 0; background:#fff; border-top:1px solid #99a2aa; }
.layPop .btnArea { overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px; margin:0; position:relative; left:-25px; text-align:right; }
.layPop .btnArea img { cursor:pointer; }

.xans-product-recommmail .prdArea { overflow:hidden; zoom:1; width:450px; margin:-10px -25px 20px; padding:0 25px 10px; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 bottom repeat-x;}
.xans-product-recommmail .prdArea p.prdImg { float:left; padding:0 15px 0 0;}
.xans-product-recommmail .prdArea p.prdImg img { width:72px; }
.xans-product-recommmail .prdArea h2 { padding:7px 0; }
.xans-product-recommmail .prdArea h2 img { vertical-align:middle; }
.xans-product-recommmail .prdArea {}

.xans-product-recommmail table { font-size:11px; text-align:left; }
.xans-product-recommmail table th { font-weight:normal; vertical-align:middle; }
.xans-product-recommmail table td { padding:5px 0; }
.xans-product-recommmail td input { padding:2px; border:1px solid #000; }
.xans-product-recommmail td textarea { padding:2px 0; border:1px solid #000; width:100%; height:80px; }
.xans-product-recommmail td .chk { padding:2px 0 0; }
.xans-product-recommmail td .chk input { border:0; width:auto; }
.xans-product-recommmail td .chk label { padding:0 4px; }
.xans-product-recommmail th.name { width:80px; }
.xans-product-recommmail td.name {}
.xans-product-recommmail td.name input { width:60px; }
.xans-product-recommmail th.mail { width:50px; }
.xans-product-recommmail td.mail input { width:150px; }
.xans-product-recommmail td p { padding:0 0 3px; }
