.layPop { background:#b4bdc5; display:inline-block; .display:inline; zoom:1; position:relative; }
.layPop .close { position:absolute; right:0; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { position:relative; padding:20px 25px 0; background:#fff; color:#000; border-top:1px solid #99a2aa; }
.layPop .btnArea { overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px; margin:0; position:relative; left:-25px; text-align:right; }

.xans-search-frompackage {}
.xans-search-frompackage fieldset { padding:10px 0 10px 0; width:470px; }
.xans-search-frompackage .resultArea { overflow:hidden; padding:0 0 10px 0; }
.xans-search-frompackage .total { float:left; }
.xans-search-frompackage .limit { float:right; }

.xans-search-frompackage .searchView { clear:both; min-height:100px; _height:100px; }
.xans-search-frompackage #keyword {padding:1px 3px; width:300px; border:1px solid #99a2aa; }
.xans-search-frompackage .searchView th { font-weight:normal; padding:10px 0; font-size:11px; border-top:2px solid #b4bdc5; border-bottom:2px solid #b4bdc5; }
.xans-search-frompackage .searchView td { padding:7px 0;  text-align:center; vertical-align:middle; border-bottom:1px solid #c3cad1; }
.xans-search-frompackage .searchView th.thumb { width:113px; }
.xans-search-frompackage .searchView .thumb img { width:72px; height:95px; }
.xans-search-frompackage .searchView td.prdInfo { text-align:left; font-size:11px; vertical-align:top; }
.xans-search-frompackage .searchView .prdInfo strong { display:block; padding:20px 0 0; color:#f26522; }

.xans-search-paging { text-align:center;}
.xans-search-paging p,
.xans-search-paging ol,
.xans-search-paging li { display:inline; }
.xans-search-paging img {vertical-align:middle; }
.xans-search-paging ol { margin:0 7px; }
.xans-search-paging li { margin:0 9px 0 0; padding:0 0 0 11px; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_page.gif) left center no-repeat; }
.xans-search-paging li:first-child { background:none; }
.xans-search-paging li strong { color:#f26522; }
.xans-search-paging li a { color:#202020; }
.xans-search-paging li a:hover { color:#f26522; text-decoration:underline; }
.xans-search-paging li a.nolink { cursor:default; }
