.layPop { background:#b4bdc5; display:inline-block; .display:inline; zoom:1; position:relative; }
.layPop .close { position:absolute; right:0; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { position:relative; padding:20px 25px 0; background:#fff; color:#000; border-top:1px solid #99a2aa; }

.xans-myshop-addrmodify h2 { font-size:11px; padding:0 0 0 15px; background:url(http://img.echosting.cafe24.com/design/skin/mono/order/ico_couponSelect.gif) 0 50% no-repeat; }
.xans-myshop-addrmodify #addInfo { margin:20px 0 10px; }
.xans-myshop-addrmodify #addInfo h2 {color:#f26522; }
.xans-myshop-addrmodify #addInfo ul { margin:10px 0 0; }

.xans-myshop-addrmodify table { margin:20px 0 0; border-top:2px solid #99a2aa; border-bottom:2px solid #99a2aa; }
.xans-myshop-addrmodify table th { width:100px; padding:4px 0 5px 3px; text-align:left; font-size:11px; font-weight:normal; border-bottom:1px solid #dedcdc; vertical-align:middle; }
.xans-myshop-addrmodify table td { padding:4px 0 5px; color:#fff; font-size:11px; border-bottom:1px solid #dedcdc; }
.xans-myshop-addrmodify table td input { padding:2px 2px 1px; border:1px solid #99a2aa; }

.xans-myshop-addrmodify .first th,
.xans-myshop-addrmodify .first td { padding-top:10px; }

.xans-myshop-addrmodify .last th,
.xans-myshop-addrmodify .last td { padding-bottom:11px;}

.xans-myshop-addrmodify #address_zip1,
.xans-myshop-addrmodify #address_zip2 { width:40px; text-align:center; padding:1px 0 2px 0;}
.xans-myshop-addrmodify #address_addr1,
.xans-myshop-addrmodify #address_addr2 { width:500px; margin:3px 0;}
.xans-myshop-addrmodify #ma_rcv_phone1,
.xans-myshop-addrmodify #ma_rcv_phone2,
.xans-myshop-addrmodify #ma_rcv_phone3,
.xans-myshop-addrmodify #ma_rcv_mobile_no1,
.xans-myshop-addrmodify #ma_rcv_mobile_no2,
.xans-myshop-addrmodify #ma_rcv_mobile_no3 { width:60px; }

.xans-myshop-addrmodify .btnArea { text-align:right; overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px ; margin:0; position:relative; left:-25px;}
.xans-myshop-addrmodify .btnArea img { padding:0 1px 0 0; cursor:pointer; }
