.xans-myshop-boardlistsearch { margin:0 0 29px; padding:14px; text-align:left; }
.xans-myshop-boardlistsearch .keyword { position:relative; margin:7px 0 0; padding:0 58px 0 0 }
.xans-myshop-boardlistsearch input[type="text"] { width:100%; border-top:1px solid #fff; border-right:1px solid #fff; border-left:1px solid #fff;border-bottom:1px solid #000;  }
.xans-myshop-boardlistsearch select { width:100%; border-top:1px solid #fff; border-right:1px solid #fff; border-left:1px solid #fff;border-bottom:1px solid #000; }
.xans-myshop-boardlistsearch .btnStrong { position:absolute; right:7px; top:0; }
