.xans-myshop-boardlistpaging { text-align:center; margin:20px 0 0;}
.xans-myshop-boardlistpaging p,
.xans-myshop-boardlistpaging ol,
.xans-myshop-boardlistpaging li { display:inline; }
.xans-myshop-boardlistpaging img {vertical-align:middle; }
.xans-myshop-boardlistpaging ol { margin:0 7px; }
.xans-myshop-boardlistpaging li { margin:0 9px 0 0; padding:0 0 0 11px; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_page.gif) left center no-repeat; }
.xans-myshop-boardlistpaging li:first-child { background:none; }
.xans-myshop-boardlistpaging li strong { color:#f26522; }
.xans-myshop-boardlistpaging li a { color:#202020; }
.xans-myshop-boardlistpaging li a:hover { color:#f26522; text-decoration:underline; }
.xans-myshop-boardlistpaging li a.nolink { cursor:default; }
