.xans-myshop-couponlistpaging { text-align:center; margin:20px 0 50px;}
.xans-myshop-couponlistpaging p,
.xans-myshop-couponlistpaging ol,
.xans-myshop-couponlistpaging li { display:inline; }
.xans-myshop-couponlistpaging img {vertical-align:middle; }
.xans-myshop-couponlistpaging ol { margin:0 7px; }
.xans-myshop-couponlistpaging li { margin:0 9px 0 0; padding:0 0 0 11px; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_page.gif) left center no-repeat; }
.xans-myshop-couponlistpaging li:first-child { background:none; }
.xans-myshop-couponlistpaging li strong { color:#f26522; }
.xans-myshop-couponlistpaging li a { color:#202020; }
.xans-myshop-couponlistpaging li a:hover { color:#f26522; text-decoration:underline; }
.xans-myshop-couponlistpaging li a.nolink { cursor:default; }
