.xans-myshop-mileagehistorypackage .xans-myshop-summary { overflow:hidden; background:#f5f5f5; color:#202020; margin:30px 0 50px; padding:22px 17px; border-top:3px solid #333; border-bottom:3px solid #333; }
.xans-myshop-mileagehistorypackage .xans-myshop-summary ul { margin:0 0 0 -30px; overflow:hidden; }
.xans-myshop-mileagehistorypackage .xans-myshop-summary li { float:left; width:344px; overflow:hidden; padding:4px 0 4px 30px; }
.xans-myshop-mileagehistorypackage .xans-myshop-summary li strong { float:left; width:150px; font-weight:normal; }
.xans-myshop-mileagehistorypackage .xans-myshop-summary li span { float:right; width:174px;  padding:0 0 0 20px; text-align:right; font-weight:bold; font-family: "돋움", Dotum, AppleGothic, sans-serif;  }
.xans-myshop-mileagehistorypackage .xans-myshop-summary li.total strong {}
.xans-myshop-mileagehistorypackage .xans-myshop-summary li.total span { color:#f26522; }

.xans-myshop-mileagehistorypackage .tab { margin:20px 0 30px; height:34px; border-bottom:1px solid #d6d6d6; }
.xans-myshop-mileagehistorypackage .tab ul { overflow:hidden; zoom:1; }
.xans-myshop-mileagehistorypackage .tab li { float:left; }

.xans-myshop-mileagehistorypackage .xans-myshop-historylist { color:#8f8f8f; padding:0 0 6px; border-bottom:3px solid #333; font-size:.9em; }
.xans-myshop-mileagehistorypackage .xans-myshop-historylist table th { padding:9px 0 7px;  border-bottom:3px solid #333; border-top:3px solid #333; font-weight:normal; color:#202020; }
.xans-myshop-mileagehistorypackage .xans-myshop-historylist table td { line-height:1.4em; text-align:center; padding:9px 0 7px; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 0 repeat-x;}
.xans-myshop-mileagehistorypackage .xans-myshop-historylist table .first td { background:none; }
.xans-myshop-mileagehistorypackage .xans-myshop-historylist table a,
.xans-myshop-mileagehistorypackage .xans-myshop-historylist table a:hover { color:#8f8f8f; }
.xans-myshop-mileagehistorypackage .xans-myshop-historylist table .mileage { font-weight:bold; color:#34a7b3; }

.xans-myshop-mileagehistorypackage .xans-myshop-historylist table td.nodata { padding:20px; text-align:center; }
