.layPop { background:#b4bdc5; display:inline-block; .display:inline; zoom:1; position:relative; }
.layPop .close { position:absolute; right:0; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { position:relative; padding:20px 25px 0; background:#fff; color:#000; border-top:1px solid #99a2aa; }
.layPop .btnArea { overflow:hidden; background:#fff; width:100%; padding:20px 0; margin:0; position:relative; text-align:right; }

.xans-myshop-orderhistoryescrow { width:558px; font-size:11px; }
.xans-myshop-orderhistoryescrow .inner { padding:0 0 0px; border-bottom:1px solid #dedcdc; }
.xans-myshop-orderhistoryescrow fieldset { display:block; padding:0 0 20px; color:#202020; vertical-align:middle; }
.xans-myshop-orderhistoryescrow fieldset input { padding:1px 3px; margin:0 5px; width:77px; height:20px; border:1px solid #bcbcbc; }
.xans-myshop-orderhistoryescrow fieldset p { padding:0 0 20px; color:#f36424; line-height:17px; }
