.xans-myshop-orderhistorypaging { text-align:center; margin:20px 0 0;}
.xans-myshop-orderhistorypaging p,
.xans-myshop-orderhistorypaging ol,
.xans-myshop-orderhistorypaging li { display:inline; }
.xans-myshop-orderhistorypaging img {vertical-align:middle; }
.xans-myshop-orderhistorypaging ol { margin:0 7px; }
.xans-myshop-orderhistorypaging li { margin:0 9px 0 0; padding:0 0 0 11px; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_page.gif) left center no-repeat; }
.xans-myshop-orderhistorypaging li:first-child { background:none; }
.xans-myshop-orderhistorypaging li strong { color:#f26522; }
.xans-myshop-orderhistorypaging li a { color:#202020; }
.xans-myshop-orderhistorypaging li a:hover { color:#f26522; text-decoration:underline; }
.xans-myshop-orderhistorypaging li a.nolink { cursor:default; }
