html { overflow-x:hidden; }
.layPop { background:#b4bdc5; width:870px; height:500px; }
.layPop .close { position:absolute; right:18px; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { padding:20px 25px 0; background:#fff; color:#000; border-top:1px solid #99a2aa; }
.layPop .btnArea { overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px; margin:0 -60px 0 0; position:relative; left:-25px; text-align:right; }
.layPop .btnArea img { padding:0 1px 0 0; cursor:pointer; }

.xans-coupon-select h2,
.xans-coupon-select h3 { font-size:11px; margin:20px 0 10px; color:#f26522; }
.xans-coupon-select h2 { padding:0 0 0 15px; background:url(http://img.echosting.cafe24.com/design/skin/mono/order/ico_couponSelect.gif) 0 50% no-repeat; }

.xans-coupon-select .cpselectList { width:800px; }

.xans-coupon-select table th { padding:7px 0 3px; border-bottom:2px solid #99a2aa; border-top:2px solid #99a2aa; font-weight:normal; }
.xans-coupon-select table td { padding:9px 3px; border-bottom:1px solid #dedcdc; }

.xans-coupon-select .delivery { text-align:center; }
.xans-coupon-select .product { }
.xans-coupon-select .product img.img_basket { float:left; padding:0 14px 0 0; width:46px; }
.xans-coupon-select .product strong { font-weight:normal; }
.xans-coupon-select .product strong span { display:block; padding:5px 0 0;}
.xans-coupon-select .product li { overflow:hidden; zoom:1; padding:0 0 10px; }
.xans-coupon-select .product li p.type { float:left; width:90px; text-align:center; }
.xans-coupon-select .product li p.detail { float:left; width:200px; }
.xans-coupon-select .product img.img_basket { float:left; padding:0 14px 0 0; width:46px; }

.xans-coupon-select td.sell { width:100px; text-align:center; }
.xans-coupon-select td.discount1 { width:100px; text-align:center; }
.xans-coupon-select td.discount2 { width:170px; text-align:center; }
.xans-coupon-select td.discount2 select { width:100%; }
.xans-coupon-select td.discount3 { width:100px; padding-right:5px; text-align:right; }

.xans-coupon-select .priceTotal { margin:30px 0 0; font-size:14px; text-align:right; }
.xans-coupon-select .priceTotal p { display:inline; padding:0 0 0 20px; }
.xans-coupon-select .priceTotal p span { font-weight:bold; }