.xans-coupon-zonepackage #couponTab { margin:20px 0 30px; height:34px; border-bottom:1px solid #d6d6d6; }
.xans-coupon-zonepackage #couponTab ul { overflow:hidden; zoom:1; }
.xans-coupon-zonepackage #couponTab li { float:left; }

.xans-coupon-zonepackage .couponArea { clear:both; overflow:hidden; margin:30px 0 0 -12px;}
.xans-coupon-zonepackage .couponArea li { float:left; position:relative; min-height:200px; .height:210px; width:372px; margin:0 0 10px 12px; text-align:center; }
.xans-coupon-zonepackage .couponArea li div { height:144px; margin:0 0 10px; border:10px solid #bfbecc; background:url(http://img.echosting.cafe24.com/design/skin/mono/product/bg_coupon1.jpg) 50% 50% no-repeat; cursor:pointer; }
.xans-coupon-zonepackage .couponArea .name { padding:10px 0; }
.xans-coupon-zonepackage .couponArea .sale { font-size:40px; padding:15px 0; line-height:normal; letter-spacing:-1px; font-weight:bold; }
.xans-coupon-zonepackage .couponArea .date { position:absolute; top:135px; left:0; width:100%; color:#fff; font-size:.9em; }
.xans-coupon-zonepackage .couponArea .btn { width:100%; text-align:right;}
.xans-coupon-zonepackage .couponArea .chkBtn {position:absolute; left:15px; top:15px; }

.xans-coupon-zonepackage .xans-coupon-azonelist li { height:180px; }

.xans-coupon-zonepackage .couponZone { overflow:hidden: zoom:1; margin:30px 0 30px; padding:30px 0 0; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot.gif) 0 top repeat-x; }
.xans-coupon-zonepackage .couponZone .titleArea { margin:17px 0 30px; }
.xans-coupon-zonepackage .couponZone .titleArea h3 { float:left; margin:0 0 20px; color:#34a7b3; font-size:1.2em; }
.xans-coupon-zonepackage .couponZone .titleArea p { float:right; margin:0; font-size:.9em; line-height:1.5em; color:#8f8f8f; }

#dCouponDetail {
	position: relative; background:#fff; overflow:hidden; width:372px; padding:10px; border:1px solid #7d7c8b;
	/* Opera */ box-shadow:5px 5px 5px #d3d3d3;
	/* Firefox */ -moz-box-shadow:5px 5px 5px #d3d3d3;
	/* Safiri, Chrome */ -webkit-box-shadow:5px 5px 5px #d3d3d3;
	/* IE */ filter:progid:DXImageTransform.Microsoft.Shadow(color=#d3d3d3,direction=135, strength=10);
}
#dCouponDetail h3 { float:left; padding:0 0 10px; color:#34a7b3; }
#dCouponDetail ul { clear:both; padding:10px; margin:10px 0; background:#f1f1f1;}
#dCouponDetail ul li { line-height:18px; font-size:11px; }
#dCouponDetail img { float:right; }