.xans-board-title-11 .pathBoard { overflow:hidden; margin:3px 0 17px; }
.xans-board-title-11 .pathBoard h3 { float:left; text-indent:-9999em; margin:0; }
.xans-board-title-11 .pathBoard ol { float:right; }
.xans-board-title-11 .pathBoard li { padding:0 0 0 22px; display:inline; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_path.gif) 0 50% no-repeat; }
.xans-board-title-11 .pathBoard li.first { background:none; }

.xans-board-title-11 .titleAreaBoard { margin:17px 0 30px; }
.xans-board-title-11 .titleAreaBoard:after {content:""; display:block; clear:both; }
.xans-board-title-11 .titleAreaBoard h2 { height:21px; border-bottom:1px solid #dedcdc; zoom:1;}
.xans-board-title-11 .titleAreaBoard h2 span { height:21px; padding:0 5px 0 0; color:#272823; font-size:16px; float:left; border-bottom:1px solid #272823; }
.xans-board-title-11 .titleAreaBoard p { padding:3px 0 0; clear:both; font-size:.9em; line-height:1.5em; color:#8f8f8f; }

.xans-board-list-11 { width:774px; }
.xans-board-listpackage-11 .xans-board-buttonlist-11 { text-align:right; overflow:hidden; margin:20px 0; }
.xans-board-listpackage-11 .xans-board-buttonlist-11 img { float:right; cursor:pointer; }
