/* BOARD MAIN */
.boardMain { overflow:hidden; zoom:1; }
.boardMain img { vertical-align:middle; margin:1px; }
.boardMain .leftArea { float:left; width:370px;  }
.boardMain .rightArea { float:right; width:370px; }
.boardMain div.board { padding:0 0 50px; }
.boardMain div.board p.btn { width:370px; padding:15px 0 0; }
.boardMain h3 { margin:0 0 15px; }
.boardMain h3 img { display:block; margin:0 0 0 -1px; }
.boardMain table { width:100%; }
.boardMain table th { display:none; }
.boardMain table td { height:20px; font-size:11px; line-height:20px; color:#8f8f91; }
.boardMain table td.subject {padding:0 0 0 7px; background:url(http://img.echosting.cafe24.com/design/skin/mono/board/bg_mainBoard.gif) 0 center no-repeat;}
.boardMain table td.subject a,
.boardMain table td.subject a:hover { color:#8f8f91; }
.boardMain table td.subject strong { color:#34a7b3; }
.boardMain table td.date { width:65px; text-align:right; }

.boardMain .galleryList { overflow:hidden;}
.boardMain .galleryList ul { overflow:hidden; margin:0 0 0 -12px; }
.boardMain .galleryList li { float:left; position:relative; width:83px; padding:0 0 12px 12px; font-size:.9em; }
.boardMain .galleryList li .imgLink img { display:block; width:72px; height:96px; padding:0 0 3px; }
.boardMain .galleryList li span { display:block; }
.boardMain .galleryList li em{ display:block; }
.boardMain .galleryList li strong { font-weight:normal; }
.boardMain .galleryList li a.imgLink,
.boardMain .galleryList li a.imgLink:hover { display:block; color:#8f8f8f; padding:0 0 5px; }

.boardMain .galleryList em { font-style:normal; }