.xans-board-title-9 .pathBoard { overflow:hidden; margin:3px 0 17px; }
.xans-board-title-9 .pathBoard h3 { float:left; text-indent:-9999em; margin:0; }
.xans-board-title-9 .pathBoard ol { float:right; }
.xans-board-title-9 .pathBoard li { padding:0 0 0 22px; display:inline; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_path.gif) 0 50% no-repeat; }
.xans-board-title-9 .pathBoard li.first { background:none; }

.xans-board-title-9 .titleAreaBoard { margin:17px 0 30px; }
.xans-board-title-9 .titleAreaBoard:after {content:""; display:block; clear:both; }
.xans-board-title-9 .titleAreaBoard h2 { height:21px; border-bottom:1px solid #dedcdc; zoom:1;}
.xans-board-title-9 .titleAreaBoard h2 span { height:21px; padding:0 5px 0 0; color:#272823; font-size:16px; float:left; border-bottom:1px solid #272823; }
.xans-board-title-9 .titleAreaBoard p { padding:3px 0 0; clear:both; font-size:.9em; line-height:1.5em; color:#8f8f8f; }

.xans-board-write-9 div.boardView { clear:both; margin-top:18px; border-top:3px solid #333; border-bottom:3px solid #333; }

.xans-board-write-9 table { background:#f6f7f9; font-size:.9em; }
.xans-board-write-9 table input,
.xans-board-write-9 table textarea { border:1px solid #bcbcbc; background:#fff; color:#202020; padding:1px 0 2px 4px; }
.xans-board-write-9 table input#notice0 { border:0; }
.xans-board-write-9 table .first { border-top:0; padding-top:20px; }
.xans-board-write-9 table th { width:120px; padding:5px 0 5px 20px; text-align:left; line-height:2em; border-bottom:1px solid #e6e6e6; color:#000; font-weight:normal; }

.xans-board-write-9 table td { width:616px; padding:5px 0 5px; border-bottom:1px solid #e6e6e6; line-height:2em; color:#8b8b8c;  }
.xans-board-write-9 table td.write { width:100%; padding:0; border-top:3px solid #333; }
.xans-board-write-9 table td img { vertical-align:middle; }
.xans-board-write-9 table td.view { border-bottom:3px solid #333; }
.xans-board-write-9 table td.view .detail { padding:30px 10px; }
.xans-board-write-9 table td.consult { border:0; }

.xans-board-write-9 table tr.agree th { vertical-align:middle; font-weight:bold; line-height:16px; color:#8d91a2; background:#f0f4ed; border-top:3px solid #333; }
.xans-board-write-9 table tr.agree td { padding:10px 0; background:#f0f4ed; border-top:3px solid #333; }
.xans-board-write-9 table tr.agree td textarea { width:600px; height:140px; margin:0 0 10px; color:#8B8B8C; }
.xans-board-write-9 table tr.agree td #privacy_agreement_radio0 { border:none; width:auto; height:auto; margin:0 3px 0 0; vertical-align:middle; background:none; }
.xans-board-write-9 table tr.agree td #privacy_agreement_radio1 { border:none; width:auto; height:auto; margin:0 3px 0 0; vertical-align:middle; background:none; }

.xans-board-write-9 table #subject { width:450px; }
.xans-board-write-9 table #ucc_width { width:30px; padding:1px 0; text-align:center; }
.xans-board-write-9 table #ucc_height { width:30px; padding:1px 0; text-align:center; }

.xans-board-write-9 .btnArea { text-align:right; overflow:hidden; margin:20px 0 50px; }
.xans-board-reply-9 .btnArea.miniType { margin:10px 0 20px; padding:0 15px; }
.xans-board-write-9 .btnArea img { float:left; padding:0 1px 0 0; cursor:pointer; }
.xans-board-write-9 .btnArea p.btnLeft { float:left; }
.xans-board-write-9 .btnArea p.btnRight { float:right; }
.xans-board-write-9 .btnArea p.btnRight img { float:left; padding:0 0 0 1px; }

.xans-board-modify-9 table tr.etcArea {}
.xans-board-modify-9 table tr.etcArea td { padding:0; border:0; }
.xans-board-modify-9 table tr.etcArea ul { overflow:hidden; width:750px; border-bottom:1px solid #e6e6e6; margin-top:-1px; }
.xans-board-modify-9 table tr.etcArea ul li { float:left; width:250px;  overflow:hidden; margin:0 0 -1px; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; }
.xans-board-modify-9 table tr.etcArea ul li.colspan2 { width:360px; }
.xans-board-modify-9 table tr.etcArea ul li.colspan2 .td { width:220px; }
.xans-board-modify-9 table tr.etcArea ul .th { float:left; width:120px; padding:5px 0 5px 20px; font-weight:normal; color:#000;}
.xans-board-modify-9 table tr.etcArea ul .td { float:left; width:110px; padding:5px 0 5px 0;}
