@charset "utf-8";

.gHeader {
	background:rgb(105,106,110);
	background:rgb(105,106,110) -webkit-gradient(linear, left top, left bottom, from(rgb(105,106,110)), to(rgb(68,68,71)));
	background:rgb(105,106,110) -moz-linear-gradient(top,  rgb(105,106,110), rgb(68,68,71));
}
.gMember { border-bottom:1px dashed rgb(180,180,182); }
.gMember a { color:#212530; background:url(http://img.echosting.cafe24.com/mobileWeb/gray/bg_member.png) 0 0 no-repeat; background-size:20px 120px;}

.mTitle { border-bottom:1px solid rgb(67,68,71); }
.mTitle h2 { background:url(http://img.echosting.cafe24.com/mobileWeb/gray/bg_member.png) 0 -60px no-repeat; background-size:20px 120px; }

footer address { color:rgb(67,68,71); background:rgb(223,223,223); }
footer address a { color:rgb(67,68,71); }

/* button */
.mButton .tSubmit1 span { border:2px solid rgb(67,68,71); color:rgb(255,255,255); background:rgb(67,68,71); }
.mButton .tSubmit2 span { border:2px solid rgb(67,68,71); color:rgb(67,68,71); background:rgb(255,255,255); }
.tButton.type1 { border:1px solid rgb(67,68,71); color:rgb(255,255,255); background:rgb(67,68,71); }
.tButton.type3 { color:rgb(255,255,255); background:rgb(67,68,71); }

/* Tab */
.mTab { border-bottom:1px solid rgb(60,61,64); }
.mTab li.selected { background:rgb(60,61,64); }
.mTab li.selected a { border-bottom:1px solid rgb(60,61,64); }

/* table */
.mBoard { border-bottom:1px solid rgb(67,68,71); }
.mBoard h3 { border-bottom:1px solid rgb(67,68,71); color:rgb(67,68,71); }

/* product */
.mSearch p { border-bottom:1px dashed rgb(161,161,163); }
.mSearch .border { border:1px solid rgb(161,161,163);  }
.mSearch input { border:0; background:url(http://img.echosting.cafe24.com/mobileWeb/gray/bg_search.png) 5px center no-repeat; background-size:18px 18px; }
.mSearch button { border:1px solid rgb(107,108,112); }
.mGiftList li { border-bottom:1px dashed rgb(161,161,163); }
.mOverview { border-bottom:1px dashed rgb(161,161,163); }
.mSpec { border-bottom:1px dashed rgb(161,161,163); }
.mReview li { border-bottom:1px solid rgb(161,161,163); }
.mCommentList ul { border-top:1px dotted rgb(161,161,163); }
.mCommentList li { border-bottom:1px dotted rgb(161,161,163); }

/* myshop */
.mMypage { border-bottom:1px solid rgb(67,68,71); }
.mShopMain li { background:url(http://img.echosting.cafe24.com/mobileWeb/gray/bg_shopMain2.png) 0 center no-repeat; background-size:300px 300px; }
.mOrderList .order { border-top:1px solid rgb(67,68,71); border-bottom:1px solid rgb(67,68,71); }

/* order */
.mGift { border-bottom:1px solid rgb(67,68,71); }

/* 갤러리형 게시판 추가 */
.mGallery .notice { border-bottom:1px solid rgb(67,68,71); }

/* 상품리스트 */
.mPrdList.typeThumb h2 { border-top:1px dashed #A1A1A3; }
.mPrdList.typeDesc > ul > li { border-bottom:1px dashed #A1A1A3; }