.simple_banner_wrap{ position:relative; overflow:hidden; width:100%; height:795px; top:0px;}
.simple_banner_wrap ul{ list-style:none; margin:0; padding:0; display:block; position:absolute; left:0; top:0; width:100%; height:100%; }
.simple_banner_wrap ul li{ margin:0; padding:0; display:block; position:absolute; top:0; left:0; width:100%; height:100%; }
.simple_banner_wrap .nav_wrap{ position:absolute; bottom:20px; height:10px; z-index:0; }
.simple_banner_wrap .nav_wrap ul{ display:block; position:relative; list-style:none; margin:0; padding:0; }
.simple_banner_wrap .nav_wrap ul li{ display:inline-block; position:relative; width:10px; height:10px; margin:0 2px; cursor:pointer; }
.simple_banner_wrap .nav_wrap.numeral{ height:14px; line-height:14px; left:50% !important; margin-left:-24px;}
.simple_banner_wrap .nav_wrap.numeral ul li{ font-size:1px; width:12px; height:12px; text-align:center; background:#dadada; border-radius:200px;line-height:40px; overflow:hidden;}
.simple_banner_wrap .nav_wrap.numeral ul li.on{ text-decoration:underline; font-weight:bold; background:#000; border-radius:20px; }
.simple_banner_wrap .nav_wrap.bullet{ height:10px; line-height:10px; }
.simple_banner_wrap .nav_wrap.bullet ul li{ font-size:10px; text-indent:-1000px; border-radius:5px; background-color:#F96; box-shadow:inset 0 0 0 1px #FFF; }
.simple_banner_wrap .nav_wrap.bullet ul li.on{ box-shadow:inset 0 0 0 1px #F96; background-color:#FFF; }
.simple_banner_wrap .nav_wrap.prev_next{ height:14px; line-height:14px; text-shadow:1px 1px 0px #CCC; }
.simple_banner_wrap .nav_wrap.prev_next ul li{ font-size:12px; width:14px; height:14px; font-weight:bold; text-align:center; }

.banner_my{height:425px !important;}
.banner_my ul{top:25px;}
.banner_my .nav_wrap{top:-20px;}
.banner_my .nav_wrap ul{left:575px;}

.banner_main_ban{height:315px !important;}
.banner_main_ban li img{float:left;}
.banner_main_ban ul{top:25px;}
.banner_main_ban .nav_wrap{top:-20px;}
.banner_main_ban .nav_wrap ul{left:575px;}

.banner_main_muse{height:555px !important; width:100%; margin:auto; top:40px;}
.banner_main_muse li{}
.banner_main_muse li img{width:45%; float:left; margin:10px 0 0 10px;}
.banner_main_muse ul{}
.banner_main_muse .nav_wrap{top:530px;}
.banner_main_muse .nav_wrap ul{}