.layPop { background:#b4bdc5; display:inline-block; .display:inline; zoom:1; position:relative; }
.layPop .close { position:absolute; right:0; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_h1lineLeft.gif) 0 bottom no-repeat;}
.layPop h1 span { display:block; padding:28px 25px 25px; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_h1lineRight.gif) right bottom no-repeat;}
.layPop .titleArea h2 { color:#fff; }
.layInner { position:relative; padding:20px 25px 0; }
.layPop .btnArea { overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px; margin:0; position:relative; left:-25px; text-align:right; }

.xans-link-bookmark { width:440px; }
.xans-link-bookmark .ok { height:107px; padding:13px 0 0 140px;  background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_bookmark.gif) 0 0 no-repeat; color:#fff; font-size:11px; line-height:1.8em; }
.xans-link-bookmark .ok span { display:block; padding:0 0 10px;  color:#fff899; font-size:22px; }
.xans-link-bookmark .ok em {color:#fff899; text-decoration:underline; }

.xans-link-bookmark .btnArea { text-align:right; overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px ; margin:0; position:relative; left:-25px;}
.xans-link-bookmark .btnArea img { float:left; padding:0 1px 0 0; cursor:pointer; }
.xans-link-bookmark .btnArea p { float:left; }
