.layPop { background:#b4bdc5; display:inline-block; .display:inline; zoom:1; position:relative; }
.layPop .close { position:absolute; right:0; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { position:relative; padding:20px 25px 30px; background:#fff; border-top:1px solid #99a2aa; }
.layPop .btnArea { overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px; margin:0; position:relative; left:-25px; text-align:right; }
.layPop .btnArea img { cursor:pointer; }

.xans-poll-result { width:480px; }
.xans-poll-result h2 { font-size:16px; }
.xans-poll-result p { font-size:11px; }
.xans-poll-result .layInner ol { padding:10px 0 0; }
.xans-poll-result .layInner li { padding:4px 0; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 bottom repeat-x; font-size:11px; }
.xans-poll-result .layInner p { overflow:hidden; padding:3px 0; }
.xans-poll-result .layInner p.title strong { float:left; }
.xans-poll-result .layInner p.title span { float:right; text-decoration:underline; }
.xans-poll-result .layInner p.graph span.box { float:left; width:380px; background:url(http://img.echosting.cafe24.com/design/skin/mono/img_pollGraphStart.gif) 0 1px no-repeat;}
.xans-poll-result .layInner p.graph span.box span { display:block; height:16px; margin:0 0 0 3px; background:url(http://img.echosting.cafe24.com/design/skin/mono/img_pollGraph.gif) right 1px no-repeat;}
.xans-poll-result .layInner p.graph em { float:right; width:40px; font-weight:bold; text-align:right; font-style:normal; }
