

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

.main_img .fp-tableCell{    vertical-align: bottom;}
.section .left_text{text-align:left; padding-left:48px;    padding-bottom: 50px;}

.contact .head .logo_white{display:none;}
.contact .head .logo_black{display:block !important;}
.contact .right_white{display:none;}
.contact .right_black{display:block !important;}
.contact .side .menu .accordion h1 a{color:#000 !important;}
.contact .side .menu .accordion .accordion-item li a{color:#000 !important;}

.contact #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}

.fp-viewing-0 .head .logo_black{display:none;}
.fp-viewing-0 .head .logo_white{}
.fp-viewing-0 .right_black{display:none;}
.fp-viewing-0 .right_white{}
.fp-viewing-0 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-0 .side .menu .accordion .accordion-item li a{color:#fffffff;}
.fp-viewing-0 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-0 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-0.left_text a{color:#ffffff;}

.fp-viewing-1 .head .logo_black{}
.fp-viewing-1 .head .logo_white{display:none;}
.fp-viewing-1 .right_black{}
.fp-viewing-1 .right_white{display:none;}
.fp-viewing-1 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-1 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-1 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-1 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-1 .left_text a{color:#000000;}

.fp-viewing-2 .head .logo_black{display:none;}
.fp-viewing-2 .head .logo_white{}
.fp-viewing-2 .right_black{display:none;}
.fp-viewing-2 .right_white{}
.fp-viewing-2 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-2 .side .menu .accordion .accordion-item li a{color:#ffffff;}
.fp-viewing-2 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-2 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-2 .left_text a{color:#ffffff;}

.fp-viewing-3 .head .logo_black{display:none;}
.fp-viewing-3 .head .logo_white{}
.fp-viewing-3 .right_black{display:none;}
.fp-viewing-3 .right_white{}
.fp-viewing-3 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-3 .side .menu .accordion .accordion-item li a{color:#ffffff;}
.fp-viewing-3 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-3 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-3 .left_text a{color:#ffffff;}

.fp-viewing-4 .head .logo_black{}
.fp-viewing-4 .head .logo_white{display:none;}
.fp-viewing-4 .right_black{}
.fp-viewing-4 .right_white{display:none;}
.fp-viewing-4 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-4 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-4 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-4 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-4 .left_text a{color:#000000;}

.fp-viewing-5 .head .logo_black{display:none;}
.fp-viewing-5 .head .logo_white{}
.fp-viewing-5 .right_black{display:none;}
.fp-viewing-5 .right_white{}
.fp-viewing-5 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-5 .side .menu .accordion .accordion-item li a{color:#ffffff;}
.fp-viewing-5 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-5 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-5 .left_text a{color:#ffffff;}

.fp-viewing-6 .head .logo_black{}
.fp-viewing-6 .head .logo_white{display:none;}
.fp-viewing-6 .right_black{}
.fp-viewing-6 .right_white{display:none;}
.fp-viewing-6 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-6 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-6 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-6 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-6 .left_text a{color:#000000;}

.fp-viewing-7 .head .logo_white{display:none;}
.fp-viewing-7 .head .logo_black{}
.fp-viewing-7 .right_black{}
.fp-viewing-7 .right_white{display:none;}
.fp-viewing-7 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-7 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-7 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-7 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-7 .left_text a{color:#000000;}

.fp-viewing-8 .head .logo_white{display:none;}
.fp-viewing-8 .head .logo_black{}
.fp-viewing-8 .right_black{}
.fp-viewing-8 .right_white{display:none;}
.fp-viewing-8 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-8 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-8 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-8 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-8 .left_text a{color:#000000;}

.fp-viewing-9 .head .logo_white{display:none;}
.fp-viewing-9 .head .logo_black{}
.fp-viewing-9 .right_black{}
.fp-viewing-9 .right_white{display:none;}
.fp-viewing-9 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-9 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-9 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-9 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-9 .left_text a{color:#000000;}

.fp-viewing-10 .head .logo_black{display:none;}
.fp-viewing-10 .head .logo_white{}
.fp-viewing-10 .right_black{display:none;}
.fp-viewing-10 .right_white{}
.fp-viewing-10 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-10 .side .menu .accordion .accordion-item li a{color:#ffffff;}
.fp-viewing-10 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-10 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-10 .left_text a{color:#ffffff;}

.fp-viewing-11 .head .logo_white{display:none;}
.fp-viewing-11 .head .logo_black{}
.fp-viewing-11 .right_black{}
.fp-viewing-11 .right_white{display:none;}
.fp-viewing-11 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-11 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-11 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-11 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-11 .left_text a{color:#000000;}

.fp-viewing-12 .head .logo_black{display:none;}
.fp-viewing-12 .head .logo_white{}
.fp-viewing-12 .right_black{display:none;}
.fp-viewing-12 .right_white{}
.fp-viewing-12 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-12 .side .menu .accordion .accordion-item li a{color:#ffffff;}
.fp-viewing-12 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-12 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-12 .left_text a{color:#000000;}

.fp-viewing-13 .head .logo_white{display:none;}
.fp-viewing-13 .head .logo_black{}
.fp-viewing-13 .right_black{}
.fp-viewing-13 .right_white{display:none;}
.fp-viewing-13 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-13 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-13 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-13 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-13 .left_text a{color:#000000;}

.fp-viewing-14 .head .logo_white{display:none;}
.fp-viewing-14 .head .logo_black{}
.fp-viewing-14 .right_black{}
.fp-viewing-14 .right_white{display:none;}
.fp-viewing-14 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-14 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-14 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-14 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-14 .left_text a{color:#000000;}

.fp-viewing-15 .head .logo_white{display:none;}
.fp-viewing-15 .head .logo_black{}
.fp-viewing-15 .right_black{}
.fp-viewing-15 .right_white{display:none;}
.fp-viewing-15 .side .menu .accordion h1 a{color:#000000;}
.fp-viewing-15 .side .menu .accordion .accordion-item li a{color:#000000;}
.fp-viewing-15 .side .menu .accordion2 #nav1 a{color:#000000;}
.fp-viewing-15 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000 !important;}
.fp-viewing-15 .left_text a{color:#000000;}

.fp-viewing-16 .head .logo_black{display:none;}
.fp-viewing-16 .head .logo_white{}
.fp-viewing-16 .right_black{display:none;}
.fp-viewing-16 .right_white{}
.fp-viewing-16 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-16 .side .menu .accordion .accordion-item li a{color:#ffffff;}
.fp-viewing-16 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-16 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-16 .left_text a{color:#ffffff;}

.fp-viewing-17 .head .logo_black{display:none;}
.fp-viewing-17 .head .logo_white{}
.fp-viewing-17 .right_black{display:none;}
.fp-viewing-17 .right_white{}
.fp-viewing-17 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-17 .side .menu .accordion .accordion-item li a{color:#ffffff;}
.fp-viewing-17 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-17 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-17 .left_text a{color:#ffffff;}

.fp-viewing-18 .head .logo_black{display:none;}
.fp-viewing-18 .head .logo_white{}
.fp-viewing-18 .right_black{display:none;}
.fp-viewing-18 .right_white{}
.fp-viewing-18 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-18 .side .menu .accordion .accordion-item li a{color:#ffffff;}
.fp-viewing-18 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-18 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-18 .left_text a{color:#ffffff;}}

.fp-viewing-19 .head .logo_black{display:none;}
.fp-viewing-19 .head .logo_white{}
.fp-viewing-19 .right_black{display:none;}
.fp-viewing-19 .right_white{}
.fp-viewing-19 .side .menu .accordion h1 a{color:#ffffff;}
.fp-viewing-19 .side .menu .accordion .accordion-item li a{color:#ffffff;}
.fp-viewing-19 .side .menu .accordion2 #nav1 a{color:#ffffff;}
.fp-viewing-19 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#fff !important;}
.fp-viewing-19 .left_text a{color:#ffffff;}



.fp-viewing-20.head .logo_white{display:none;}
.fp-viewing-20.head .logo_black{}
.fp-viewing-20 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000;}

.fp-viewing-21 .head .logo_white{display:none;}
.fp-viewing-21.head .logo_black{}
.fp-viewing-21 #fp-nav ul li a span, .fp-slidesNav ul li a span{background:#000;}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
    #section47,
    #section4,
	#section46,
	#section44,
	#section45,
	#section43,
	#section17,
	#section18,
	#section42,
    #section41,
	#section40,
	#section38,
	#section37,
	#section36,
	#section35,
	#section34,
	#section33,
	#section32,
	#section6,
    #section31,    
    #section30, 
	#section5,
    #slide1,
    #slide2{
		background-size: cover;
		background-attachment: fixed;
	}

	/* Defining each sectino background and styles
	* --------------------------------------- */
	#section47{
		background: url(/web/img/pc/20FW_Kanco_3rd_pc.jpg) top center;
        background-size:cover;
	}
    #section4{
		background: url(/web/img/pc/liful_20fw_3rd_pc.jpg) top center;
        background-size:cover;
	}
	#section46{
		background: url(/web/img/pc/20_WINTER_1ST_WEB_FINAL.jpg) top center;
        background-size:cover;
	}
	#section44{
		background: url(/web/img/pc/MFG_20FW_balansa_banner_pc.jpg) top center;
        background-size:cover;
	}
	#section45{
		background: url(/web/img/pc/SNEEZE_web.jpg) top center;
        background-size:cover;
	}
	#section43{
		background: url(/web/img/pc/LMC_20FW_4TH_WEB_FINAL.jpg) top center;
        background-size:cover;
	}
	#section17{
		background: url(/web/img/pc/LMC_VELOUR_WEB.jpg) top center;
        background-size:cover;
	}
	#section18{
		background: url(/web/img/pc/MFG_20FW_BANNER_PC.jpg) top center;
        background-size:cover;
	}
	#section42{
		background: url(/web/img/pc/20FW_KANCO_2nd_banner_pc.jpg) top center;
        background-size:cover;
	}
   #section41{
		background: url(/web/img/pc/BANNER_20FW_LMC_3RD_PC.jpg) top center;
        background-size:cover;
	}
	#section40{
		background: url(/web/img/pc/20fw_fuzz_w.jpg) top center;
        background-size:cover;
	}
	#section38{
		background: url(/web/img/pc/LMC_20FALL_2ST_WEB_FINAL.jpg) top center;
        background-size:cover;
	}
	#section37{
		background: url(/web/img/pc/LMC_LEVIS_WEB.jpg) top center;
        background-size:cover;
	}
	#section36{
		background: url(/web/img/pc/MFG_20FW_Denim_banner_pc_03.jpg) top center;
        background-size:cover;
	}
	#section35{
		background: url(/web/img/pc/20FW_KANCO_1st_Banner_pc.jpg) top center;
        background-size:cover;
	}
	#section34{
		background: url(/web/img/pc/LMC_20FW_1ST_WEB.jpg) top center;
        background-size:cover;
	}
	#section33{
		background: url(/web/img/pc/LMC_20FW_CARRYOVER_WEB.jpg) top center;
        background-size:cover;
	}
	#section32{
		background: url(/web/img/pc/LMC_QH_WEB_FINAL.jpg) top center;
        background-size:cover;
	}
	#section6{
		background: url(/web/img/pc/LMC_NEWERA_MAIN_BANNER_WEB.jpg) top center;
        background-size:cover;
	}
    #section31{
		background: url(/web/img/pc/LMC_SYSTEM_20FW_BANNER_WEB.jpg) top center;
        background-size:cover;
	}

    #section30{
		background: url(/web/img/pc/MFG_20FW_banner_pc_01.jpg) top center;
        background-size:cover;
	}

	#section5 .myContent{
        height: 210px;
      }

	#section7{
		background: url(/web/img/pc/about1.jpg) top center;
        background-size:cover;
	}

	#section8{
		background: url(/web/img/pc/about2.jpg) top center;
        background-size:cover;
	}

	#section9{
		background: url(/web/img/pc/about3.jpg) top center;
        background-size:cover;
	}

	#section10{
		background: url(/web/img/pc/about4.jpg) top center;
        background-size:cover;
	}

	#section10 .text{color:#000;display:inline-block;max-width:330px;width:100%;vertical-align: middle;}
	#section10 .map {display:inline-block;vertical-align: middle;margin-left:80px;}
	#section10 li{display:inline-block; vertical-align:middle;}
	#section10 li:nth-child(1){text-align:center; width:100%;}
	#section10 li:nth-child(2){width:35%;}
	#section10 .text .logo{font-size:25px;margin-bottom:15px;}
	#section10 .text .logo span{font-size:16px;     display: inline-block;  margin-left: 10px;}
	#section10 .text .address{font-size:14px;}
	#section10 .text .title{font-size:15px;font-weight:500;margin-top:35px; margin-bottom:15px;color:#000;}
	#section10 .text .con{font-size:12px;color:#000;}
	#section10 .text .map{position:relative;}
	#section10 .text .map:before {   content: "";   display: block;   padding-bottom: 70%;}

	#section10 .text .map iframe{width:100%; height:100%;position:absolute;    top: 0;   left: 0;}

	#section11 .myContent{
        height: 210px;
      }

	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url(/web/img/pc/main_sl2.jpg);
	}
	#slide2{
		background-image: url(/web/img/pc/main_sl5.jpg);
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}


/*!
 * fullPage 3.0.4
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    display:none;
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.fp-right {
    right: 17px;
}
#fp-nav.fp-left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
    bottom: 17px;
}
.fp-slidesNav.fp-top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 14px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 10px;
    width: 10px;
    margin: -6px 0 0 -7px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 6px;
    width: 6px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -6px 0px 0px -7px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

/*Only display content to screen readers*/
.fp-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
